build/*
volume/video/*
deployment/docker-swarm/dhparam.pem
deployment/docker-swarm/self.crt
deployment/docker-swarm/self.key
deployment/kubernetes/*.yaml
deployment/kubernetes/yaml/*.yaml
deployment/certificate/self.crt
deployment/certificate/self.key
